################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mots_meles/FileContentIndex/5fcd3839-e48b-4501-ac38-16251048dbb9.vsidx
Mots_meles/bin/Debug/netcoreapp3.1/tableau/tableauDebug.csv
